:root {
  --background: #f1f1f1;
  --text_body: #091146;
  --text_title: #091146;
  --text_login: #091146;
  --text_signup: #ffff;
  --button-background: #091146;
  --text_footer: #ffff;
  --text_post: #ffff;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li,
a,
ul {
  list-style: none;
  text-decoration: none;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.content {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.content__post {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.post {
  background: var(--background);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 15%);
}

.menu {
  display: flex;
  padding: 1.5rem 0rem;
  margin: 0 1.5rem;
  align-items: center;
  flex-direction: column;
}

.menu .menu__links {
  flex-direction: row;
  display: flex;
  gap: 2rem;
}

.menu .menu__links li a {
  color: var(--text_title);
  font-size: 1.5rem;
  font-weight: 600;
}

.menu .menu__logo img {
  width: 6rem;
}

.menu .menu__buttons button {
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
}

.menu .menu__buttons .menu__login {
  border: none;
  color: var(--text_login);
  cursor: pointer;
}

.menu .menu__buttons .menu__login:hover {
  filter: brightness(0.9);
  border-radius: 10px;
}

.menu .menu__buttons .menu__signup {
  border-radius: 10px;
  color: var(--text_signup);
  background-color: var(--button-background);
  cursor: pointer;
}

.menu .menu__buttons .menu__signup:hover {
  filter: brightness(0.8);
}


.highlight {
  flex-direction: column;
  margin: 1rem;
}

.highlight .highlight__content {
  display: flex;
  padding: 1.5rem;
  z-index: 9;
  align-items: center;
  flex-direction: column;
}
.highlight .highlight__img {
  z-index: -99;
  background: #b6b8c8;
  border-radius: 10px;
}

.highlight .highlight__content .highlight__post {
  text-wrap: balance;
}

.highlight .highlight__content .highlight__post .highlight__title {
  color: var(--text_post);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 2px 4px 10px var(--text_body);
}

.highlight .highlight__content .highlight__post .highlight__body {
  color: var(--text_post);
  font-size: 1.2rem;
  line-height: 1.2;
  text-shadow: 2px 4px 10px var(--text_body);
}

.highlight .highlight__content .highlight__button {
  background: transparent;
  border: none;
  font-size: 8rem;
  color: var(--text_post);
  font-weight: 500;
  text-shadow: 2px 4px 10px var(--text_body);
  cursor: pointer;
}

.highlight .highlight__content .highlight__button:hover {
  filter: brightness(0.9);
}

@media (min-width: 600px) {
  .content {
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  }

  .menu {
    justify-content: space-between;
    flex-direction: row;
  }

  .highlight .highlight__content {
    display: flex;
    padding: 1.5rem;
    position: absolute;
    margin: 15rem 2rem -10rem 0rem;
    z-index: 9;
    align-items: center;
    flex-direction: row;
  }
  .highlight {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    flex-direction: row;
  }
}