{% load static %}
<div class="highlight">
    <img class="highlight__img" src="{% static 'images/destaque.png'%}">
    <div class="highlight__content">
        <div class="highlight__post">

            <div class="highlight__title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="highlight__body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit inventore odio dolore repudiandae maiores illo vero alias, consectetur repellendus? Dolore id sequi consequatur ut amet mollitia maxime nisi suscipit quaerat.
            </div>
        </div>
        <button class="highlight__button">
            ￫
        </button>
    </div>
</img>
</div>