{% load static %}
<nav class="menu">
    <a title="Home" href="{% url 'home:home' %}" class="menu__logo">
        <img src="{% static 'images/logo.png' %}" alt="logo" >
    </a>
    <ul class="menu__links">
        <li>
            <a title="Home"  href="{% url 'home:home' %}"> Home </a>
        </li>
        <li>
            <a title="Blog" href="{% url 'blog:home' %}"> Blog </a>
        </li>
    </ul>
    <div class="menu__buttons">
        <button class="menu__login" type="button">Log in</button>
        <button class="menu__signup" type="button">Sign up</button>
    </div>
</nav>